body{
	text-align: center;
	background-image:url("http://www.photosnewhd.com/media/images/backgrounds-wallpapers.jpg")
}

table,td {
	border: 1px black solid;
	margin: auto;
}
img{
	width:100px;
	height:150px;
	float:center;

}

tr,td{
	width:100px;
	height:50px;
	color:white;

}
h1{
	color:white;
}



