body{
	text-align: center;
	background-image:url("bg.jpg")
}

table,td {
	border: none;
	margin: auto;
}
img{
	width:100px;
	height:150px;
	float:center;

}

tr,td{
	width:100px;
	height:50px;
	color:white;

}
h1{
	color:white;
}



